<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><title>VARt Vote</title><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Sans:wght@700&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet"></head><style>html {
 font-size: 62.5%;
 }

 body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color: #f9f9ff;
 }

 .head_op {
 width: 100%;
 height: 6rem;
 /* background-color: #2018a6; */
 background-image: linear-gradient(90deg, black 0%, #082e73 20%);
 color: #ffffff;
 /*box-shadow: 0.1rem 0.1rem 1rem 0.01rem #7788a6;*/
 }

 .head_name h1 {
 margin: 0%;
 }

 .head_name {
 height: 5.2rem;
 width: 25rem;
 font-size: 2rem;
 margin-left: 5%;
 position: absolute;
 border-radius: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: 0.4rem 0.2rem 0.1rem 0.1rem #4e6a9c;
 }


 .main_con_10 {
 display: flex;
 justify-content: center;
 margin-bottom: 10rem;
 }

 .vote_sys {
 margin-top: 5rem;
 height: auto;
 width: 60rem;
 background-color: #ffffff;
 border-radius: 0.5rem;
 box-shadow: 0.1rem 0.3rem 0.7rem 0.01rem #cdcdcd;
 display: flex;
 flex-direction: column;
 align-items: center;
 }

 .vote_apply_bu,
 .vote_records {
 height: 2.5rem;
 width: auto;
 background-color: #476aaa;
 color: white;
 font-size: 2rem;
 border-radius: 0.5rem;
 padding: 1.5rem;
 margin-top: 5rem;
 margin-bottom: 2rem;
 font-family: 'Oswald', sans-serif;
 font-family: 'PT Sans', sans-serif;
 transition: background-color cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
 }

 .vote_apply_bu:hover,
 .vote_records:hover {
 background-color: #274d94;
 }

 .get_data_log {
 display: flex;
 flex-direction: column;
 align-items: center;
 }

 input {
 width: 25rem;
 background-color: white;
 margin-top: 2rem;
 height: 3rem;
 border: 0.1rem solid #c5c5c5;
 border-radius: 0.5rem;
 padding-left: 2rem;
 transition: box-shadow 0.5s;
 }

 input:focus {
 box-shadow: 0rem 0rem 0.3rem 0.1rem #8196bd;
 }

 .sub_op {
 font-family: 'Montserrat', sans-serif;
 background-color: #4b6aa2;
 color: white;
 height: 4rem;
 padding-left: 0;
 width: 27.5rem;
 border: none;
 transition: background-color 0.5s;
 font-size: 1.5rem;
 font-family: 'PT Sans', sans-serif;
 }

 .sub_op:hover {
 background-color: #305291;
 }

 .add_remove_op {
 display: flex;
 justify-content: center;
 }

 i {
 margin: 0;
 }

 .add_cad,
 .remove_cad {
 padding: 1rem;
 border-radius: 50%;
 transition: background-color 0.5s;
 background-color: #005bff;
 font-size: 1.5rem;
 margin: 1rem 1rem 0.5rem 0rem;
 height: 1.8rem;
 width: 1.8rem;
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .add_cad:hover {
 background-color: #004ad4;
 }

 .remove_cad {
 background-color: rgb(216, 70, 70);
 }

 .remove_cad:hover {
 background-color: red;
 }

 .hide_shobe_10 {
 width: 25rem;
 height: auto;
 margin-top: 1rem;
 }

 .add_remove_op {
 transition: all 0.5s;
 transform: scaleY(0);
 height: 0rem;
 }

 .vote_st,
 .vote_st10,
 .vote_ed {
 width: 25rem;
 font-size: 1.5rem;
 margin-top: 1.5rem;
 font-family: 'PT Sans', sans-serif;
 color: #7d7d7d;
 }

 #vote_start,
 #vote_end {
 transition: margin-top 0.5s;
 margin-top: -1.5rem;
 }

 #vote_start:focus,
 #vote_end:focus {
 margin-top: 0.2rem;
 }

 .warna_10 {
 font-size: 2rem;
 font-family: 'PT Sans', sans-serif;
 color: #da3333;
 background-color: #ffd5d5;
 border-radius: 0.5rem;
 padding: 0.3rem 1rem;
 margin: 0;
 display: none;
 transition: transform 0.5s;
 }

 .link_shower {
 height: auto;
 width: 34rem;
 font-size: 1.5rem;
 border: 0.1rem solid #e2e2e2;
 overflow-wrap: anywhere;
 padding: 1rem 1.5rem;
 margin-bottom: 2rem;
 border-radius: 1rem;
 }

 .hide_pp_10 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: auto;
 width: auto;
 display: none;
 }

 .rec_op {
 font-size: 1.5rem;
 overflow-wrap: anywhere;
 width: 32rem;
 height: 4rem;
 border-radius: 1rem;
 background-color: #eaecff;
 font-family: 'PT Sans', sans-serif;
 padding: 0.5rem 2rem;
 color: #7d7d7d;
 transition: height 0.5s;
 overflow: hidden;
 scrollbar-width: none;
 margin-bottom: 2rem;
 }

 .rec_op::-webkit-scrollbar {
 display: none;
 }

 .span_op {
 color: #384762;
 font-size: 1.7rem;
 margin-left: 1rem;
 text-transform: capitalize;
 margin-right: 1rem;
 }

 .vote_head {
 font-size: 2rem;
 color: #244175;
 margin: 1rem 0rem 0rem 0rem;
 border-bottom: 0.05rem solid #b9b9b9;
 }

 .hida_op_10 {
 display: block;
 }

 .data_vote {
 margin: 1rem 0;
 }

 a {
 color: #227aff;
 }



 footer {
 display: flex;
 height: 25rem;
 justify-content: flex-end;
 align-items: center;
 width: 100%;
 flex-direction: column;
 background-color: rgb(15, 15, 15);
 }

 .lococo {
 display: flex;
 }

 footer .lococo a {
 text-decoration: none;
 margin-bottom: 5rem;
 }

 .ffo {
 background-color: white;
 border: 1px solid black;
 border-radius: 50%;
 height: 3.5rem;
 width: 3.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0.5rem;
 box-shadow: 0 0 0 0.1rem white;
 }

 #ffo1:hover {
 height: 4.5rem;
 width: 4.5rem;
 margin: 0%;
 margin-top: 0;
 box-shadow: none;
 }

 #ffo2:hover {
 height: 4.5rem;
 width: 4.5rem;
 margin: 0%;
 margin-top: 0;
 box-shadow: none;
 }

 #ffo3:hover {
 height: 4.5rem;
 width: 4.5rem;
 margin: 0%;
 margin-top: 0;
 box-shadow: none;
 }

 #ffo4:hover {
 height: 4.5rem;
 width: 4.5rem;
 margin: 0%;
 margin-top: 0;
 box-shadow: none;
 }

 .svg_op {
 height: auto;
 width: 100%;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 margin-top: -0.1rem;
 }

 .sv_ima {
 transform: scale(1, -1);
 width: 110%;
 }

 .set_stt {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 }

 .pp_vec {
 width: 50%;
 height: auto;
 display: flex;
 justify-content: center;
 flex-direction: column;
 }

 .head_stt {
 width: 60rem;
 height: 15rem;
 margin-top: 6%;
 }

 .stt_10 {
 font-size: 4rem;
 margin-bottom: 0;
 color: rgb(7 198 255);
 font-family: 'Josefin Sans', sans-serif;
 }

 .stt_20 {
 font-size: 2.0rem;
 color: white;
 margin-left: 5rem;
 font-family: 'ZCOOL KuaiLe', cursive;
 }


 @media only screen and (max-width: 1200px) {
 .head_stt {
 margin-top: 5%;
 margin-right: 40%;
 }

 .sv_ima {
 width: 120%;
 }

 .pp_vec {
 width: 80%;
 }
 }

 @media only screen and (max-width: 1020px) {
 .head_stt {
 width: 43rem;
 }

 .stt_10 {
 font-size: 3rem;
 }

 .stt_20 {
 font-size: 1.5rem;
 }

 }

 @media only screen and (max-width: 750px) {
 .sv_ima {
 width: 140%;
 }

 .head_stt {
 margin-right: 20%;
 }
 }

 @media only screen and (max-width: 620px) {
 .vote_sys {
 width: 45rem;
 }

 .head_name {
 font-size: 1.5rem;
 margin-left: 0%;
 }

 }


 @media only screen and (max-width: 560px) {
 .pp_vec {
 width: 95%;
 }

 .head_stt {
 width: 36rem;
 margin-right: 10%;
 }

 .stt_10 {
 font-size: 2.5rem;
 }

 .stt_20 {
 font-size: 1.3rem;
 }
 }


 @media only screen and (max-width: 460px) {
 .vote_sys {
 width: 100%;
 }

 .head_name {
 margin-left: 0%;
 }
 }

 @media only screen and (max-width: 400px) {
 .sv_ima {
 width: 170%;
 }

 .head_stt {
 width: 31rem;
 margin-right: 0%;
 }

 .stt_10 {
 font-size: 2.2rem;
 }

 .stt_20 {
 font-size: 1.2 rem;
 }
 }

 @media only screen and (max-width: 370px) {
 .rec_op {
 width: 80%;
 }
 }</style><body onload="che_op_10('{{warning}}','{{url1}}','{{ra_op_10}}')"><div class="head_op"><div class="head_name"><h1><span style="color: red">VAR</span>tworld</h1></div></div><div class="svg_op"><svg id="wave" class="sv_ima" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 46, 115, 1)" offset="0%"></stop><stop stop-color="rgba(4.042, 21.356, 52.793, 1)" offset="100%"></stop></linearGradient></defs><!--0 0 1440 490--><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,0L60,24.5C120,49,240,98,360,122.5C480,147,600,147,720,179.7C840,212,960,278,1080,326.7C1200,376,1320,408,1440,416.5C1560,425,1680,408,1800,375.7C1920,343,2040,294,2160,261.3C2280,229,2400,212,2520,179.7C2640,147,2760,98,2880,130.7C3000,163,3120,278,3240,302.2C3360,327,3480,261,3600,220.5C3720,180,3840,163,3960,163.3C4080,163,4200,180,4320,179.7C4440,180,4560,163,4680,155.2C4800,147,4920,147,5040,163.3C5160,180,5280,212,5400,212.3C5520,212,5640,180,5760,163.3C5880,147,6000,147,6120,130.7C6240,114,6360,82,6480,114.3C6600,147,6720,245,6840,277.7C6960,310,7080,278,7200,285.8C7320,294,7440,343,7560,367.5C7680,392,7800,392,7920,367.5C8040,343,8160,294,8280,261.3C8400,229,8520,212,8580,204.2L8640,196L8640,490L8580,490C8520,490,8400,490,8280,490C8160,490,8040,490,7920,490C7800,490,7680,490,7560,490C7440,490,7320,490,7200,490C7080,490,6960,490,6840,490C6720,490,6600,490,6480,490C6360,490,6240,490,6120,490C6000,490,5880,490,5760,490C5640,490,5520,490,5400,490C5280,490,5160,490,5040,490C4920,490,4800,490,4680,490C4560,490,4440,490,4320,490C4200,490,4080,490,3960,490C3840,490,3720,490,3600,490C3480,490,3360,490,3240,490C3120,490,3000,490,2880,490C2760,490,2640,490,2520,490C2400,490,2280,490,2160,490C2040,490,1920,490,1800,490C1680,490,1560,490,1440,490C1320,490,1200,490,1080,490C960,490,840,490,720,490C600,490,480,490,360,490C240,490,120,490,60,490L0,490Z"></path></svg></div><div class="set_stt"><div class="head_stt"><p class="stt_10">Welcome To VARt Vote System</p><p class="stt_20">" Your Vote Is Your Choice "</p></div><div class="pp_vec"><img src="undraw_voting_nvu7.svg" alt=""></div></div><div class="main_con_10"><div class="vote_sys"><div class="hide_pp_10"><h1 style="font-size: 3rem;font-family: 'PT Sans', sans-serif;color: #4b6aa2">Vote System Details</h1><p class="warna_10">{{warning}}</p><div class="pl_hide_10"><div><form action="/main_dashboard" method="POST" class="get_data_log"><input type="text" name="vote_system_name" placeholder="Voting System Name"><div class="candi_name"><input type="text" style="display: block" name="candi_1" placeholder="Candidate 1 Name"> <input type="text" style="display: block" name="candi_2" placeholder="Candidate 2 Name"></div><div class="hide_shobe_10"><i class="fa fa-angle-right" aria-hidden="true" style="color: #6f87b5;font-size: 2rem;font-weight: bold; transition: transform 0.5s"></i></div><div class="add_remove_op"><div class="add_cad"><i class="fa fa-plus" aria-hidden="true" style="color: white"></i></div><div style="" class="remove_cad"><i class="fa fa-times" aria-hidden="true" style="color: white"></i></div></div><div id="date_st_10" class="vote_st">Voting Start</div><input id="vote_start" name="vote_start" type="datetime-local"><div class="vote_ed">Voting End</div><input id="vote_end" name="vote_end" type="datetime-local"> <input class="sub_op" type="submit"></form></div></div></div><div class="vote_apply_bu">Create New System</div><h1 class="war_op" style="font-size: 3rem;font-family: 'PT Sans', sans-serif;color: #4b6aa2"></h1></div></div><footer><div class="lococo"><a href="https://www.youtube.com/channel/UCLYh239Pl56prNR5YGZWxHw" target="_blank"><div id="ffo1" class="ffo"><i style="color: #FF0000" class="fa fa-2x fa-youtube-play"></i></div></a><a href="https://www.facebook.com/panchal.vedant.96" target="_blank"><div id="ffo2" style="background-color: #4267B2" class="ffo"><i style="color: white" class="fa fa-2x fa-facebook"></i></div></a><a href="https://www.instagram.com/vedupaji/" target="_blank"><div id="ffo3" style="background-color: #cd486b" class="ffo"><i style="color: rgb(255, 255, 255)" class="fa fa-2x fa-instagram"></i></div></a><a href="https://twitter.com/Vedupaji4" target="_blank"><div id="ffo4" style="background-color: #1DA1F2" class="ffo"><i style="color:rgb(255, 255, 255)" class="fa fa-2x fa-twitter"></i></div></a></div><div><p style="color: white;font-size: 150%;font-family:Arial, Helvetica, sans-serif;margin-bottom: 3rem">By, Vedupaji</p></div></footer><script src="/socket.io/socket.io.js"></script><script src="main_dash.js"></script></body></html>